* {
    box-sizing: border-box;
    margin: 0;
}

section {
    background-color: #333;
    width: 100%;
    color: white;
    position: sticky;
    top: 0;
    z-index: 1;
    margin: 0;
}

a {
    text-decoration: none;
    color: white;
}

li {
    list-style: none;
    display: inline-block;
    padding: 20px;
    position: sticky;


}

li:hover {
    background-color: #04a96d;

}

ul {

    padding: 0px;
}
#mainful{
background-image: url(img_woods_wide.jpg);
background-repeat: no-repeat;
background-size: cover;
height: 900px;
position: relative;
}
#topnumber{
color: white;
position: absolute;
left: 10px;
top: 10px;
}
.arrows{
    color: white;
    font-size: xx-large;
    position: absolute;
     background-color: rgba(100, 100, 100, .4);
     border-radius: 50%;
     padding: 15px;
     width: 53px;
     height: 63px;
     cursor: pointer;
     display: inline-block;
}
#arrowright{
right: 20px;
bottom: 450px;
}
#arrowleft{
left: 20px;
bottom: 450px;
}
.arrows:hover{
    background-color: rgba(50, 50, 50, .8);

}
#topic{
background-color: #333;
color: white;
text-align: center;
width: 100%;
padding: 20px;
}
div>img{
display: inline-block;
opacity: .9;
width: 16.45%;
cursor: pointer;
}
div>img:hover{

    opacity: .6;
}