*{

    box-sizing: border-box;
    margin: 0;
}
header,footer{
background-color: black;
color: white;
font-size: x-large;
margin-top: 20px;

}
.row {

    background-color: lightslategrey;

   
    text-align: center;
    
}
div{
 border: 1px solid black;
 margin-top: 10px;

 
}
.col-md{
   height: 300px;

}